<h1>投稿一覧</h1>
<% @lists.each do |list| %>

  <p>
    Title:<%= list.title %> 
    Body:<%= list.body %> 
    <%= link_to "詳細へ", list_path(list.id) %>
    <%= link_to "編集", edit_list_path(list.id) %>
    <%= link_to "削除", destroy_list_path(list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </p>
<% end %>

<h1>新規投稿</h1>
<%= form_with model: @list do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>感想</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>
